<!-- Phone input-->
<p class="input-control">
    <% if (label.length > 0) { %><label class="control-label" for="<%= id %>"><%= label %></label><% } %>
    <input onfocus="if(this.value=='<%= placeholder %>')this.value='';" onblur="if(this.value=='')this.value='<%= placeholder %>';" name="<%= id %>" class="form-control <%= inputsize %><% if(required) {%> required <% } %>" value="" id="<%= id %>" type="text" placeholder="<%= placeholder %>">
    <% if (helptext.length > 0) { %><p class="help-block"><%= helptext %></p><% } %>
    <div class="input-error" style="display: none"></div>
</p>