<link href="http://axes.pro/formbuilder/css/validation.css" rel="stylesheet">
<script src="http://axes.pro/formbuilder/js/lib/jquery-1.6.2.min.js" type="text/javascript"></script>
<script type="text/javascript">
   function selectInFormConversion(id){
    $("#formConversion1 #" + id).attr('checked', true);
}</script>
<script src="http://axes.pro/formbuilder/js/lib/jquery-inputmask.js" type="text/javascript"></script>
<script src="http://axes.pro/formbuilder/js/lib/validation.js" type="text/javascript"></script>
<script src="http://axes.pro/formbuilder/js/lib/recaptcha.js" type="text/javascript"></script>
<form action="###" method="post" id="formConversion1" class="form-horizontal cmxform" enctype="multipart/form-data">
    <fieldset>

    <%= text %>
    </fieldset>
</form>
